*,
:after,
:before {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  min-width: 320px;
  margin:0;
  font-size: 14px;
  line-height: 1.5;
  font-family: $fontFamili;
  background: #FAFBFF;
  color: #000000;
}

#main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}